.demo {
  input {
    border: 1px solid black;
    width: 300px;
    height: 35px;
    border-radius: 4px;
    font-weight: 500;
    padding: 4px 35px 4px 15px;
    margin: 15px 0;
  }
  li {
    padding: 5px 10px;
  }
}
